{{ include('header.html.twig') }}
    <h1>
        <p> Description : {{ description }} </p>
    </h1>
	<h1>
        <p> Quantite : {{ quantite }} </p>
    </h1>
	<h1>
        <p> Marque : {{ brand }} </p>
    </h1>
    <h1>
        <p> prix : {{ price }} euros </p>
    </h1>
